<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <head>
        <title>Food Drives</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  
    <div class="topnav">
        <a class="active" href="/home.html">Home</a>
        <a href="/people.html">All People</a>
        <a href="/addPerson.html">Add Person</a>
        <a href="/updatePerson.html">Edit Person</a>
        <a href="/deletePerson.html">Delete Person</a> 
        <a href="/addPersonForEvent.html">Add to Event</a>  
        <a href="/peopleInformation.html">People Information</a>  
        <a href="/events.html">Events</a>    
    </div>

    <body>
        <div>
            <h1>Management System for Food Drives</h1>
            <h2>Delete Person</h2>
            <p>Please enter the person id for an existing person to be deleted.</p>
            <form>
                <label for="id">Person Id:</label><br>
                <input type="text" id="id"><br><br>

                <input type="button" class="button-25" onclick="delete_event();" value="Submit">
              </form> 
        </div>
    </body>

    <script type="text/javascript">
        /**
        * Function that refreshes text fields- called everytime the submit button is pressed
        */
        function refresh_text(){
            document.getElementById("id").value = '';
        }

        function delete_event() {
            var xhr = new XMLHttpRequest();

            xhr.open("DELETE", '/deletePerson/' + document.getElementById("id").value, true); 
            xhr.send();
                    
            // listens for any type of response from the POST request. The response status will be 404 if parameters are not filled out properly.
            xhr.addEventListener('loadend', () => {
                if (xhr.status == 404) 
                    alert("Please make sure that all content is filled out properly.");
                else if (xhr.status == 200) {
                    alert("Person Deleted!");
                } 
                else
                    alert("Ran into a server error while deleting person.");
            }); 
            refresh_text();  
        }
    </script>
</html>
