<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <head>
        <title>Food Drives</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
  
    <div class="topnav">
        <a class="active" href="/home.html">Home</a>
        <a href="/events.html">Events</a>   
        <a href="/people.html">People</a>
        <a href="/addPersonForEvent.html">Add to Event</a>   
    </div>

    <body>
        <div>
            <h1>Management System for Food Drives</h1>

            <h2>Program Functionalities:</h2>
            <h3>    Events</h3>
            <p>         Click on the events tab to view all, add, edit, delete events.</p>
            <p>         You can also view all people going to a specific event and the event's details</p>
            <p>         under the 'Event' -> 'Event Information tab'. </p>
            </p>
            <h3>    People</h3>
            <p>         Click on the people tab to view all, add, edit, delete people attending food drives. </p>
            <p>         You can also view all the events a specific person is registered for and the person's details </p>  
            <p>         under the 'People' -> 'People Information' tab. </p>  
        
            <h3>    Register a Person for an Event</h3>
            <p>         To register a person for an event, please select the 'Add to Event' tab and enter the requested </p>  
            <p>         information.</p>  
            <p>         NOTE: Events have a maximum capacity and do run out of space!</p>  
            
        </div>
    </body>
</html>